
extends layout

block content
  - var currentPage = 'users'
  include ./includes/admin-navbar.pug

  div.fullPageUsers
    div.third#userList
      div#userFilter
        form#user-search-form(action='')
          input#user-search(type='text' name='userSearch' placeholder='Sök användare')
          button#user-search-btn(type='button') Sök
          button#user-clear-search-btn(type='button') Rensa
        button#user-show-locked-btn(type='button') Visa endast låsta användare
        button#user-new Ny användare
      table
        tbody
          for user in users
            tr(id='user-'+user.id)
              td=user.fname+' '+user.lname
              td=user.workplace
              td
                if user.admin > 0
                  span.adminBadge
                if user.locked > 0
                  span.lockedBadge
    div.twothirds.padded#userEdit
      h3#edit-user Skapa ny användare
      input(type='hidden' name='id' value='new' autocomplete='off')#id
      label
        | Förnamn
        input(type='text' name='fname' autocomplete='off')#fname
      label
        | Efternamn
        input(type='text' name='lname' autocomplete='off')#lname
      label
        | Användarnamn
        input(type='text' name='username' autocomplete='off')#username
      label
        | Lösenord (ändras inte om fältet lämnas tomt)
        input(type='password' name='password' autocomplete='off')#password
      label
        | Arbetsplats
        input(type='text' name='workplace' autocomplete='off')#workplace
      label
        | Organisation (fritext)
        input(type='text' name='organization' autocomplete='off')#organization
      label
        | Organisation
        select(name='organizationId' autocomplete='off')#organizationId
          for organization in organizations
            if organization.organization_id === org
              option(value=organization.organization_id selected)=organization.organization_name
            else
              option(value=organization.organization_id)=organization.organization_name
      label
        | E-post
        input(type='email' name='email' autocomplete='off')#email
      label
        | Privat e-post
        input(type='email' name='pemail' autocomplete='off')#pemail
      label
        | Skapad
        input(type='text' name='created' autocomplete='off' readonly='readonly')#created
      label
        | Uppdaterad
        input(type='text' name='updated' autocomplete='off' readonly='readonly')#updated
      label
        input(type='checkbox' name='admin' autocomplete='off')#admin
        | Admin
      label
        input(type='checkbox' name='locked' autocomplete='off')#locked
        | Lås
      div
        button(type='button')#saveUserDetails Spara
        button(type='button')#deleteUser Ta bort
        button(type='button')#sendUserApprovedEmail Skicka mail om godkänd användare
  script.
    var usersData = !{JSON.stringify(users)};
  script(defer='defer' src='/js/jquery-3.1.0.min.js')
  script(defer='defer' src='/js/admin.js')