
extends layout

block content
  - var currentPage = 'settings'
  include ./includes/admin-navbar.pug

  div.fullPage
    div.third
      table#settingsPicker
        tbody
          tr(data-target='#settingsOrganization')
            td Organisation
          tr(data-target='#settingsEmail')
            td E-post
          tr(data-target='#settingsWIU')
            td Walk In Use
          tr(data-target='#settingsWhiteList')
            td Vitlista
    div.twothirds.padded#settingsArea
      div#settingsOrganization
        label
          | Organisationsnamn
          input(name='organizationName' type='text' value=organization.name required)#organizationName
        label
          | IP adressen allokerad till er organisation (registrera denna hos förlagen)
          input(name='organizationAssignedIPv4' type='text' value=organization.assignedIPv4 readonly='readonly')#organizationAssignedIPv4
        label
          | Organisationens/Bibliotekets e-postadress (meddelanden från proxyn skickas till denna e-postadress)
          input(name='organizationEmail' type='email' value=organization.email required)#organizationEmail
        label
          | Er organisations PubMed id (otool)
          input(name='organizationPubmedOtool' type='text' value=organization.pubmedOtool)#organizationPubmedOtool
        label
          | Användaravtal
          textarea(name='organizationUserAgreement' id='organizationUserAgreement')=organization.userAgreement
      div#settingsEmail
        | Email
      div#settingsWIU
        | WIU
      div#settingsWhiteList
        | Whitelist

  script(defer='defer' src='/js/jquery-3.1.0.min.js')
  script(defer='defer' src='/js/admin.js')