
extends layout

block content
  - var currentPage = 'settings'
  include ./includes/admin-navbar.pug

  div.fullPage
    div.third
      table#settingsPicker
        tbody
          tr(data-target='#settingsOrganization')
            td Organisation
          tr(data-target='#settingsEmail')
            td E-post
          tr(data-target='#settingsWIU')
            td Walk In Use
          tr(data-target='#settingsWhiteList')
            td Vitlista
    div.twothirds.padded#settingsArea
      input(name='id' type='hidden' value=organization.id autocomplete='off')#id
      div#settingsOrganization
        label
          | Organisationsnamn
          input(name='organizationName' type='text' value=organization.name required autocomplete='off')#organizationName
        label
          | IP adressen allokerad till er organisation (registrera denna hos förlagen)
          input(name='organizationAssignedIPv4' type='text' value=organization.assignedIPv4 readonly='readonly' autocomplete='off')#organizationAssignedIPv4
        label
          | Organisationens/Bibliotekets e-postadress (meddelanden från proxyn skickas till denna e-postadress)
          input(name='organizationEmail' type='email' value=organization.email required autocomplete='off')#organizationEmail
        label
          | Er organisations PubMed id (otool)
          input(name='organizationPubmedOtool' type='text' value=organization.pubmedOtool autocomplete='off')#organizationPubmedOtool
        label
          | Användaravtal
          textarea(name='organizationUserAgreement' id='organizationUserAgreement' autocomplete='off')=organization.userAgreement
        button(type='button')#saveOrganizationSettings Spara organisationsinställningar
      div#settingsEmail
        h2 E-post
        h3 Godkänd användare meddelande
        label
          | E-posttitel
          input(name='userEmailTitle' type='text' value=organization.userEmailTitle autocomplete='off')#userEmailTitle
        label
          | E-postmeddelande
          textarea(name='userEmail' type='text' autocomplete='off')#userEmail=organization.userEmail
        button(type='button')#saveEmailSettings Spara e-postinställningar
      div#settingsWIU
        h2 Walk In Use
        label
          | IP-adresser för Walk In Use
          input(name='wiuIps' type='text' value=organization.wiuIps autocomplete='off')#wiuIps
        label
          | Lösenord för Walk In Use
          input(name='wiuPassword' type='text' value=organization.wiuPassword autocomplete='off')#wiuPassword
        label
          | E-postadresser att informera vid lösenordsbyte (valfritt)
          input(name='wiuEmails' type='text' value=organization.wiuEmails autocomplete='off')#wiuEmails
        button(type='button')#saveWiuSettings Spara WIU inställningar
        button(type='button')#generateWiuPassword Generera nytt WIU lösenord
        hr
        label
          | Walk In Use URL att blockera
          input(name='wiuBlock' type='text' autocomplete='off')#wiuBlockUrl
        button(type='button')#addWiuBlock Lägg till
        hr
        label
          | Sök efter Walk In Use URL
          input(name='wiuSearchBlock' type='text' autocomplete='off')#wiuSearchBlockUrl
        button(type='button')#searchWiuBlock Sök
        hr
        table#wiuList
          thead
            tr
              td URL
              td Funktion
          tbody
      div#settingsWhiteList
        h2 Vitlista
        label
          | URL att vitlista
          input(name='whiteListUrl' type='text' autocomplete='off')#addWhiteListUrl
        button(type='button')#addWhiteList Lägg till
        hr
        label
          | Sök i vitlistan
          input(name='searchWhiteListUrl' type='text' autocomplete='off')#searchWhiteListUrl
        button(type='button')#searchWhiteList Sök
        hr
        table#whiteList
          thead
            tr
              td URL
              td Funktion
          tbody

  script(defer='defer' src='/js/jquery-3.1.0.min.js')
  script(defer='defer' src='/js/tinymce/tinymce.min.js')
  script(defer='defer' src='/js/tinymce/jquery.tinymce.min.js')
  script(defer='defer' src='/js/admin.js')