
extends layout

block content
  div.limitedWidth
    div
      h2 Proxive
      noscript
        h3 Du måste ha JavaScript aktiverat för att fortsätta!
      div#loginSelector
        button(type='button')#loginUsernameButton Logga in med användarnamn
        button(type='button')#loginEmailButton Logga in med med e-postadress
        button(type='button')#wiuButton Walk In Use
        button(type='button')#forgotButton Glömt lösenordet?
        button(type='button')#createNewAccount Skapa ett konto
    div#loginForms
      button(type='button')#loginBack Tillbaka
      div#loginUsername
        form(action="/loginWithUsername" method="POST")
          label Organisation
            select(name="organization")#organization
              option(value="disabled" disabled selected) Välj organisation
              each val in organizations.length ? organizations : [{organization_id: 'null', organization_name: 'No organization found!'}]
                option(value=val.organization_id)=val.organization_name
          label Användarnamn
            input(type="text" name="username" placeholder="Username")#usernameU
          label Lösenord
            input(type="password" name="password" placeholder="Password")#passwordU
          input(type="hidden" name="redirectUrl" value=redirect)
          input(type="submit" value="Login")#loginU
      div#loginEmail
        form(action="/loginWithEmail" method="POST")
          label E-postadress
            input(type="email" name="email" placeholder="Email")#emailE
          label Lösenord
            input(type="password" name="password" placeholder="Password")#passwordE
          input(type="hidden" name="redirectUrl" value=redirect)
          input(type="submit" value="Login")#loginE
      div#wiu
        form(action="/loginWiu" method="POST")
          label Organisation
            select(name="organization")#wiuOrganization
              option(value="disabled" disabled selected) Välj organisation
              each val in organizations.length ? organizations : [{organization_id: 'null', wiu: true, organization_name: 'Ingen organisation med Walk In Use aktiverat funnen!'}]
                if(val.wiu)
                  option(value=val.organization_id)=val.organization_name
          label Lösenord
            input(type="password" name="password" placeholder="Password")#passwordWiu
          input(type="hidden" name="redirectUrl" value=redirect)
          input(type="submit" value="Login")#loginWiu
    footer
      ul
        li: a(href='/integrity') Integritetspolicy
        li: a(href='/personal-details') Behandling av personuppgifter
        li: a(href='/cookies') Användning av kakor (cookies)
        li: a(href='/opensource') Öppen källkod

  script(src='/js/login.js')
